{{- if .AntibotEnabled }}
location = {{ .AntibotURI }} {
    proxy_intercept_errors off;
    modsecurity off;
    add_header Set-Cookie "{{ .AntibotCookieName }}={{ .AntibotCookieValue }}; Max-Age=600; Path=/; SameSite=Lax; Secure; HttpOnly" always;
    return 204;
}
{{- end }}
{{- range .Rules }}
location {{ .LocationModifier }} {{ .LocationPath }} {
{{- if .DisableProxyInterceptErrors }}
    proxy_intercept_errors off;
{{- end }}
    modsecurity on;
    modsecurity_rules_file /etc/waf/modsecurity/sites/{{ $.SiteID }}.conf;
    include /etc/waf/nginx/easy/{{ $.SiteID }}.conf;
    limit_req zone={{ .ZoneName }} burst={{ .Burst }} nodelay;
    limit_req_status {{ .StatusCode }};
{{- if .PassHostHeader }}
    proxy_set_header Host $http_host;
{{- end }}
    proxy_pass {{ .ProxyPassTarget }};
}
{{- end }}
