worker_processes auto;
error_log /dev/stderr warn;

events {
    worker_connections 1024;
}

http {
    variables_hash_max_size 65536;
    variables_hash_bucket_size 512;
    proxy_headers_hash_max_size 1024;
    proxy_headers_hash_bucket_size 128;
    include conf.d/*.conf;
{{- if .DefaultTLSRef }}
    server {
        listen 443 ssl default_server;
        server_name _;
        include {{ .DefaultTLSRef }};
        ssl_protocols TLSv1.2 TLSv1.3;
        ssl_ciphers ECDHE-ECDSA-AES128-GCM-SHA256:ECDHE-RSA-AES128-GCM-SHA256:ECDHE-ECDSA-AES256-GCM-SHA384:ECDHE-RSA-AES256-GCM-SHA384;
        ssl_prefer_server_ciphers off;
        ssl_session_timeout 1d;
        ssl_session_cache shared:SSL:10m;
        ssl_session_tickets off;
        ssl_ecdh_curve X25519:secp384r1;
        error_page 497 =307 https://$http_host$request_uri;
        return 421;
    }
{{- end }}
    include {{ .SitesIncludeGlob }};
}
