{{- range .Exceptions }}
geo ${{ .ExceptionVar }} {
    default 0;
{{- range .AllowCIDRs }}
    {{ . }} 1;
{{- end }}
}
map ${{ .ExceptionVar }} ${{ .KeyVar }} {
    default $binary_remote_addr;
    1 "${binary_remote_addr}:allow";
}
{{- end }}
{{- range .Entries }}
{{- if .LimitReqURLVar }}
map $uri ${{ .LimitReqURLVar }} {
    default "";
    ~*^{{ .LimitReqPattern }} ${{ .BaseKeyVar }};
}
{{- end }}
limit_req_zone ${{ .LimitReqKeyVar }} zone={{ .ZoneName }}:10m rate={{ .Rate }};
limit_conn_zone ${{ .ConnKeyVar }} zone={{ .ConnZoneName }}:10m;
{{- end }}
